.ui.attached.stackable.menu.borderless.layout-menu
  .ui.container
    .item.brand
      img(src='/public/img/logo-app.png')
    a.item(href='/home') Accueil
    .dropdown-container.item
      a(href='/trips-favorite') Trajets
      i(class='dropdown icon')
      ul.dropdown-content
        li: a.item(href='/trips') Mes Trajets
        li: a.item(href='/trips-favorite') Créer un Trajet


    .ui.menu.right
      .dropdown-container.item
        a(href='/notifications') Notifications
        i(class='dropdown icon')
        ul.dropdown-content
          li: a.item(href='/') notif1
          li: a.item(href='/') notif2


      a.item(href='/users') Mon profil
      a.item(href='/signin') Deconnexion