.ui.attached.stackable.menu.borderless.layout-menu
  .ui.container
    .item.brand
      img(src='/public/img/logo-app.png')
    a.item Accueil
    a.item Trajets conducteur
    a.item Trajets passager
    a.item Administrateur

    .ui.menu.right
      a.item Notifications
      a.item Mon profil
      a.item Deconnexion