.ui.attached.stackable.menu.borderless.layout-menu
  .ui.container
    .item.brand
      img(src='/public/img/logo-app.png')
    a.item(href='/home') Accueil
    a.item(href='/trips-driver') Trajets conducteur
    a.item(href='/trips-passager') Trajets passager
    //- faire un onglet "administrateur" si le sus-dit administrateur est connecté
    //- a.item(href='') Administrateur

    .ui.menu.right
      a.item(href='/notifications') Notifications
      a.item(href='/profil') Mon profil
      a.item(href='/cars-user') Mes voitures
      a.item(href='') Deconnexion