extends /core/views/layout

block added_scripts
  script(async, defer, src="/public/js/pages/trips/trips.js")

block content

  h1 Mes trajets
  
  table.ui.celled.table.table-info
    thead
      tr
        th Nom
        th Nb. place(s)
        th Depart
        th Arrivé
        th Date depart
        th Date arrivée
        th
      tr
    tbody