extends /core/views/layout

block added_scripts
  script(async, src='/public/js/pages/cars-user/create-cars-user.client.js')

block content
  h1 Ajouter une voiture
  
  .ui.form(id="form-create-car")
    .field
      label ma voiture
      input(class='car_auto' name='car' type='text' placeholder="voiture")
  
    .field
      label Couleur
      select(name='color')
        option(value='jaune') Jaune
        option(value='noir') Noir
        option(value='vert') Vert

    .field
      label Plaque d'immatriculation
      input(name='numimmat', value='', placeholder='AB-1234-XZ', type='text')

    br
    br
    button.ui.button(type='submit') Ajouter véhicule
