extends /core/views/layout

block added_scripts
  script(async, defer, src='/public/js/pages/cars-users/create-cars-users.client.js')

block content
  h1 Mes voitures
  
  label ma voiture

  input(class='car_auto' id='car' type='text' name='car' placeholder="voiture")

  .button.ui.button(onclick="") Rechercher
