extends layout

block content
  if locals.user
  h1 Welcome  #{user.firstname}

  if user.role == 0
    button(type="button") conducteur

  .ui.two.column.grid
    .column
      .ui.container
        .field
          a.ui.circular.large.label(href='/cars-user') +  
          label Ajouter une voiture
        br
        .field
          a.ui.circular.large.label(href='/addresses-user') + 
          label  Ajouter une adresse 
        br
        .field
          a.ui.circular.large.label(href='/trips-driver/create') +
          label Créer un trajet
        br
        


    .column
      .ui.two.column.grid
        .column
          .ui.card
            .content
              .right.floated.meta ~5h
              span Paris - Brive-la-gaillarde
            .image
              img(src='/public/img/leaflet-d3-03.png')
            .content
              span.right.floated
                i.heart.outline.like.icon
                | 17 j'aimes
              i.comment.icon
              | 3 messages
            .extra.content
              a.ui.green.circular.label L
              a.ui.green.circular.label M
              a.ui.green.circular.label M
              a.ui.circular.label J
              a.ui.green.circular.label V
              a.ui.green.circular.label S
              a.ui.green.circular.label D
        .column
          .ui.card
            .content
              .right.floated.meta ~4h
              span Montpellier - Brive-la-gaillarde
            .image
              img(src='/public/img/leaflet-d3-03.png')
            .content
              span.right.floated
                i.heart.outline.like.icon
                | 12 j'aimes
              i.comment.icon
              | 3 messages
            .extra.content
              a.ui.green.circular.label L
              a.ui.green.circular.label M
              a.ui.green.circular.label M
              a.ui.circular.label J
              a.ui.green.circular.label V
              a.ui.green.circular.label S
              a.ui.green.circular.label D

