extends /core/views/layout

block content
  h1 Créer trajet conducteur

  .ui.grid
    .two.column.row
      .column
        form(action="", method="post").ui.form
          .two.fields
            .field
              label Nom
              input(placeholder='Mon trajet', type='text')
            .two.fields
              .field
                label Départ
                input(type='time' name='wakeup')
              .field
                label Arrivée
                input(type='time' name='wakeup')
          .field
            label Voiture
            .ui.selection.dropdown
              .default.text Selectionner une voiture
              i.dropdown.icon
              input(type='hidden', name='gender')
              .menu
                .item(data-value='male') Male
                .item(data-value='female') Female
          .field
            label Nombre de places disponibles
            input(type='number')
          ul#parentVia(style="list-style:none; padding-left:0")
            li.field
              label Adresse départ
              input(class='address_auto' id='address_departure' type='text' name='address_departure' placeholder="Départ")
            li#viaEnd.field
              label Adresse arrivée
              input(class='address_auto' id='address_arrival' type='text' name='address_arrival' placeholder="Arrivée")
          .button.ui.button(onclick="sendCoords()") Rechercher
          .button.ui.button#viaMore(onclick="viaMore()") Via +
          br
          
            
      .column
        #map

  script(async, defer, src='/public/js/leaflet.create-trip-driver.js')

          //- #viaMaster.field
          //-   #via0.field 
          //-     .ui.action.input
          //-       input(class='address_auto' type='text' placeholder='Ajouter une destination')
          //-       button.ui.button(onclick='viaLess(this)') X