extends /core/views/layout

block added_scripts
  script(async, defer, src='/public/js/pages/trips-driver/create-trip-driver.client.js')




block content
  h1 Créer trajet conducteur

  .ui.grid
    .two.column.row
      .column
        form(id='tripForm' action="", method="post").ui.form 
          .field
            label Nom
            input#name_trip(type='text', placeholder='Mon trajet')
          .field
            label Voiture
              input#car_user(class='car_auto' type='text', name='gender' placeholder='Ma voiture')
          .field
            label Nombre de places disponibles
            input#nb_seats(type='number')
          ul#parentVia(style="list-style:none; padding-left:0")
            li.field
              label Adresse départ
              input(class='address_auto' id='address_departure' type='text' name='address_departure' placeholder="Départ")
            li#viaEnd.field
              label Adresse arrivée
              input(class='address_auto' id='address_arrival' type='text' name='address_arrival' placeholder="Arrivée")
          .button.ui.button(onclick="createTripDriver.sendCoords()") Rechercher
          .button.ui.button#viaMore(onclick="createTripDriver.viaMore()") Via +
          br
          br
          #createButton.button.fluid.ui.button(onclick="createTripDriver.createTrip()") Créer 

            
      .column
        #map
