extends /core/views/layout

block added_scripts
  script(async, defer, src="/public/js/pages/trips-driver/trip-favorite.js")


block content
  h1 Mes trajets

  .ui.container(style="margin-top: 30px")
    .field
      a.ui.circular.large.label(href='/trips-driver/create') +
      label Créer un trajet
    br 
    .field
      a.ui.circular.large.label(href='/cars-user/create') +  
      label Ajouter une voiture
    br
    .field
      a.ui.circular.large.label(href='/addresses-user/create') + 
      label  Ajouter une adresse 
    br

  hr(style="margin-bottom: 30px")

  .ui.cards

 