extends /core/views/layout

block added_scripts
  script(async, defer, src="/public/js/pages/trips-driver/trip-favorite.js")


block content
  h1 Mes trajets

  .ui.secondary.menu
    a.active.item(href='/trips-driver/create') Créer un trajet
    a.active.item(href='/cars-user') Ajouter voiture
    a.active.item(href='/addresses-user/create') Ajouter Adresse

  .ui.cards